---
# 1. K8s 공식 저장소 추가 (v1.29 버전 기준)
# gpgkey와 baseurl이 최신 pkgs.k8s.io를 가리켜야함
- name: Add Kubernetes Yum Repository
  yum_repository:
    name: kubernetes
    description: Kubernetes
    baseurl: https://pkgs.k8s.io/core:/stable:/v1.29/rpm/
    enabled: yes
    gpgcheck: yes
    repo_gpgcheck: yes
    gpgkey: https://pkgs.k8s.io/core:/stable:/v1.29/rpm/repodata/repomd.xml.key

# 2. 필수 패키지 설치 (kubelet, kubeadm, kubectl)
- name: Install Kubernetes binaries
  dnf:
    name:
      - kubelet
      - kubeadm
      - kubectl
      - iproute-tc  # 트래픽 제어를 위해 K8s가 요구하는 필수 패키지
    state: present
    disable_excludes: kubernetes

# 3. Kubelet 서비스 활성화 (시작은 하지 않음)
# kubeadm init이 실행되면서 알아서 시작됨.
- name: Enable kubelet service
  service:
    name: kubelet
    enabled: yes