# 1. Grafana 설정
grafana:
  adminPassword: "admin"
  
  # NFS 스토리지 연결 (대시보드 설정 저장용)
  persistence:
    enabled: true
    storageClassName: "nfs-client"  # 이전에 만들었던 스토리지 클래스 이름
    accessModes:
      - ReadWriteMany
    size: 1Gi

  # 외부 접속용 Ingress 설정
  ingress:
    enabled: true
    ingressClassName: nginx         # Ingress Controller
    hosts:
      - grafana.wms.local           # 접속할 도메인 주소
    path: /

# 2. Prometheus 설정
prometheus:
  prometheusSpec:
    # 데이터 보존 기간
    retention: 7d
    
    # NFS 스토리지 연결 (메트릭 데이터 저장용)
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: "nfs-client"
          accessModes: ["ReadWriteMany"]
          resources:
            requests:
              storage: 5Gi

# 3. Alertmanager 설정 (활성화 및 Discord 연동)
alertmanager:
  enabled: true
  config:
    global:
      resolve_timeout: 5m
    route:
      group_by: ['alertname', 'job']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 3h
      receiver: 'discord-webhook'
      routes:
      - match:
          alertname: Watchdog
        receiver: 'null' # Watchdog은 시스템 생존신고용 알람인데 시끄러우니 일단 무시.
    receivers:
    - name: 'null'
    - name: 'discord-webhook'
      discord_configs:
      - webhook_url: 'https://discord.com/api/webhooks/1464255043128791214/LrY3YLzduMBcASeuhT0W1zbJsvRkKv7RJ9thcByG8S-h3mFMxTHBh9YRCYyAUk4MqMp-'
        send_resolved: true # 해결되면 "해결됨" 알람도 보냄